<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        <title>FlaskBlog</title>
    </head>
    <body>
        <h1>Welcome to Python Flask Website</h1>

        <h3>Prerequisites</h3>
        The following prerequisites are required for this website.

        <ol>
            <li>Python docker image</li>
            <li>Flask, python dependency</li>
            <li>Docker, with configurations to apply to this app</li>
        </ol>
    </body>
</html>